
interface FastEthernet1/1
description This is FastEthernet1/1
no shut

interface FastEthernet1/2
description This is FastEthernet1/2
no shut

interface FastEthernet1/3
description This is FastEthernet1/3
no shut

interface FastEthernet1/4
description This is FastEthernet1/4
no shut

interface FastEthernet1/5
description This is FastEthernet1/5
no shut

interface FastEthernet1/6
description This is FastEthernet1/6
no shut

interface FastEthernet1/7
description This is FastEthernet1/7
no shut

interface FastEthernet1/8
description This is FastEthernet1/8
no shut
