snmp-server community respirolab RO

snmp-server community respirolabwrite RW 10

snmp-server trap-source Loopback1

snmp-server host 192.168.1.25 respirolab

snmp-server location Sydney

snmp-server contact lab@respiro.com.au

snmp-server system-shutdown
